* {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font: inherit;
  font-weight: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-track:hover {
  background: #ddd;
  border-radius: 3px;
}

* input {
  padding: 0.3125em;
}

* button:hover {
  -webkit-box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2392156863);
          box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.2392156863);
}

.container {
  font-family: Consolas, monaco, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875em;
}
.container__item {
  width: 31.25em;
  height: 43.75em;
}

.toolbar {
  border: 0.0625em solid #000;
  border-top: none;
}
.toolbar__item {
  padding: 0.625em;
  border-bottom: 0.0625em solid #000;
}
.toolbar__item:last-child {
  border-bottom: none;
}

.mn__input {
  border: 0.0625em solid #000;
}
.mn__input:first-child {
  margin-right: 0.625em;
}

.row-actions__item {
  margin-bottom: 0.625em;
}
.row-actions__item:last-child {
  margin-bottom: 0;
}
.row-actions__title {
  font-weight: 700;
  margin-bottom: 0.3125em;
}
.row-actions__description {
  font-style: italic;
  color: #787878;
}
.row-actions__description-item {
  margin-bottom: 0.3125em;
}
.row-actions__input {
  border: 0.0625em solid #000;
  margin-right: 0.625em;
}
.row-actions__confirm-button {
  padding: 0.4375em 0.625em;
  border: 0.0625em solid #000;
}

.matrix-actions__item {
  margin-bottom: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.matrix-actions__item:last-child {
  margin-bottom: 0;
}
.matrix-actions__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 11.25em;
  height: 3.125em;
  text-align: center;
  border: 0.0625em solid #000;
}
.matrix-actions__button:disabled {
  opacity: 0.5;
  cursor: default;
}
.matrix-actions__button:disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.matrix-actions__description {
  font-style: italic;
  color: #787878;
}

.history {
  border: 0.0625em solid #000;
  border-top: none;
}
.history__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  border-bottom: 0.0625em solid #000;
}
.history__body {
  overflow-y: scroll;
  height: 38.75em;
}
.history__entry {
  cursor: pointer;
  padding: 0.625em;
  margin-bottom: 0.625em;
  border-bottom: 0.0625em solid #000;
  padding-bottom: 0.625em;
}
.history__entry:first-child {
  margin-top: 0.625em;
}
.history__entry:hover {
  background: #eaeaea;
}
.history__entry-title {
  margin-bottom: 0.625em;
}
.history__error {
  cursor: auto;
  padding-top: 0.625em;
  color: red;
}

.matrix-title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
  border-bottom: 0.0625em solid #000;
}

.matrix-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25em;
  overflow: auto;
}
.matrix-container__sep {
  width: 0.0625em;
  background: #000;
}

.matrix__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.0625em solid #000;
  border-bottom: none;
}
.matrix__row:last-child {
  border-bottom: 0.0625em solid #000;
}
.matrix__cell {
  text-align: center;
  display: block;
  width: 3.125em;
  height: 2.5em;
  overflow: hidden;
  border-right: 0.0625em solid #000;
}
.matrix__cell:last-child {
  border-right: none;
}
.matrix__cell-e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 37.5em) {
  .container {
    font-size: 0.4em;
  }
}